root = true

[*.{kt,kts}]
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = 120

ij_kotlin_allow_trailing_comma = true
ij_kotlin_space_after_comma = true
ij_kotlin_spaces_around_assignment_operators = true

[**/*.gradle.kts]
ktlint = disabled

[**/build/**/*.kt]
ktlint = disabled
